<?xml version="1.0" encoding="UTF-8"?>
<!--
    TemplateStudio UK
-->
<config>
    <modules>
        <Templatestudio_Core>
            <version>0.1.1</version>
        </Templatestudio_Core>
    </modules>
    <global>
        <blocks>
            <tscore>
                <class>Templatestudio_Core_Block</class>
            </tscore>
        </blocks>
        <helpers>
            <tscore>
                <class>Templatestudio_Core_Helper</class>
            </tscore>
        </helpers>
        <models>
            <tscore>
                <class>Templatestudio_Core_Model</class>
            </tscore>
        </models>
        <tscore>
        	<url>
        		<vendor><![CDATA[www.templatestudio.com]]></vendor>
        		<notification><![CDATA[www.templatestudio.com/feed/file.rss]]></notification>
        		<extension><![CDATA[www.templatestudio.com/extmanager/extension/feed]]></extension>
        		<quote><![CDATA[www.templatestudio.com/quote]]></quote>
        	</url>
        </tscore>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Templatestudio_Core>
                    <files>
                        <default>Templatestudio_Core.csv</default>
                    </files>
                </Templatestudio_Core>
            </modules>
        </translate>
        <events>
            <controller_action_predispatch>
                <observers>
                   <tscore_check_notifications>
                        <type>model</type>
                        <class>tscore/feed</class>
                        <method>observe</method>
                    </tscore_check_notifications>
                   <tscore_check_extensions>
                        <type>model</type>
                        <class>tscore/extension</class>
                        <method>checkUpdate</method>
                    </tscore_check_extensions>
                </observers>
            </controller_action_predispatch>
        </events>
		<layout>
            <updates>
                <tscore>
                    <file>templatestudio/core.xml</file>
                </tscore>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <templatestudio>
            <feed>
                <notify>1</notify>
            </feed>
        </templatestudio>
	</default>
    <crontab>
        <jobs>
            <tscore_check_extensions>
                <schedule>
                    <cron_expr>0 4 * * *</cron_expr>
                </schedule>
                <run>
                    <model>tscore/extension::checkUpdate</model>
                </run>
            </tscore_check_extensions>
        </jobs>
    </crontab>
</config>